body {
    font-family: 'Arial', sans-serif; /* Assuming Arial, adjust as needed */
    background-color: #EDF2F7; /* Light grey background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove any margin around the body */
}

.signup-container {
    background-color: #FFFFFF; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 40px;
    width: 500px; /* Fixed width */
    max-width: 90%; /* Ensure responsiveness on smaller screens */
    box-sizing: border-box; /* Include padding in width calculation */
}

h1 {
    margin: 0 auto 20px auto; /* Spacing below the heading */
    font-size: 2rem; /* Adjust font size */
    text-align: center; /* Center the heading */
}

.tabs {
    display: flex;
    justify-content: center; /* Center the tabs */
    margin-bottom: 20px;
}

.tab {
    font-size: 16px;
    color: #A0AEC0; /* Grey color for text */
    margin-right: 20px; /* Space between tabs */
    padding-bottom: 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent; /* Invisible border for spacing */
    transition: color 0.3s, border-color 0.3s; /* Smooth transition for hover effects */
}

.tab:hover, .tab.active {
    color: #4A5568; /* Darker grey on hover and for active tab */
    border-bottom: 2px solid #4A5568; /* Underline effect for active/hover tab */
}

.form-container h1 {
    text-align: center;
    color: #2D3748; /* Dark grey color for text */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px 15px; /* Adequate padding inside input fields */
    margin-bottom: 10px; /* Space between input fields */
    border: 2px solid #E2E8F0; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners for input fields */
    font-size: 16px; /* Comfortable font size for reading */
}

button {
    background-color: #2B6CB0; /* Blue background */
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Matching font size with inputs */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #2C5282; /* Darker blue on hover */
}

p {
    text-align: center;
    font-size: 14px;
    margin-top: 20px; /* Space above the login link */
}

a {
    color: #3182CE; /* Link color */
    text-decoration: none; /* No underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}
